.datadriven {
  padding: 40px 0;
  &__block {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__left {
    &_zero {
      flex: 1 1 528px;
    }

    &_notzero {
      flex: 0 0 40%;
      margin-right: 64px;
    }
    &_zero img {
      width: 100%;
    }
  }
  &__right {
    &_zero {
      flex: 0 0 40%;
      margin-left: 64px;
    }

    &_notzero {
      flex: 1 1 528px;
    }
    &_notzero img {
      width: 100%;
    }
  }
}
.left {
  &__top {
  }

  &__middle {
    font-size: 32px;
    line-height: 42px;
    letter-spacing: -0.3px;
    color: #eceded;
    font-weight: 700;
    margin-bottom: 12px;
  }

  &__text {
  }
}
.before-top {
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  margin-bottom: 8px;
  color: #5658dd;
}
.right {
  &__top {
  }

  &__middle {
    font-size: 32px;
    line-height: 42px;
    letter-spacing: -0.3px;
    color: #eceded;
    font-weight: 700;
    margin-bottom: 12px;
  }
}
@media (max-width: 640px) {
  .before-top {
    font-size: 14px;
    line-height: 22px;
  }
  .left {
    &__middle {
      font-size: 24px;
      line-height: 34px;
      letter-spacing: -0.1px;
    }
    &__text {
      font-size: 1rem;
    }
  }
  .right {
    &__middle {
      font-size: 24px;
      line-height: 34px;
      letter-spacing: -0.1px;
    }
    &__text {
      font-size: 1rem;
    }
  }
  .datadriven {
    padding: 24px 0;
    text-align: center;
    &__block {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column-reverse;
    }

    &__left {
      &_zero {
        flex: 1 1 auto;
        margin: 0;
        margin-bottom: 32px;
      }

      &_notzero {
        margin: 0;
      }
      &_zero img {
      }
    }
    &__right {
      &_zero {
        margin: 0;
        margin-bottom: 32px;
      }

      &_notzero {
        flex: 1 1 auto;
        margin-bottom: 32px;
      }
      &_notzero img {
      }
    }
  }
}
