.datadriven {
  padding: 40px 0;
  &__block {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__left {
    &_zero {
      flex: 1 1 528px;
    }

    &_notzero {
      flex: 0 0 40%;
      margin-right: 64px;
    }
    &_zero img {
      width: 100%;
    }
  }
  &__right {
    &_zero {
      flex: 0 0 40%;
      margin-left: 64px;
    }

    &_notzero {
      flex: 1 1 528px;
    }
    &_notzero img {
      width: 100%;
    }
  }
}
.left {
  &__top {
  }

  &__middle {
    font-size: 32px;
    line-height: 42px;
    letter-spacing: -0.3px;
    color: #eceded;
    font-weight: 700;
    margin-bottom: 12px;
  }

  &__text {
  }
}
.before-top {
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 8px;
  color: #5658dd;
}
.text {
  font-size: 1rem;
}
.right {
  &__top {
  }

  &__middle {
    font-size: 32px;
    line-height: 42px;
    letter-spacing: -0.3px;
    color: #eceded;
    font-weight: 700;
    margin-bottom: 12px;
  }

  &__text {
  }
}
