.landing {
  padding-top: 80px;
  text-align: center;
  position: relative;

  &__block {
    padding: 80px 0;
  }

  &__top {
  }

  &__title {
  }

  &__text {
    margin-bottom: 32px;
  }

  &__btns {
  }
  &__btn a {
    text-decoration: none;
    color: #eceded;
    margin: 8px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    padding: 11px 31px;
    height: 48px;
  }
  &__btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -8px;
    &_get-started {
      min-height: 50px;
      min-width: 150px;
      background-color: #5658dd;
    }
    &_view-on-github {
      min-width: 180px;
      min-height: 50px;
      background-color: #25282c;
    }
  }

  &__bottom {
    display: flex;
    margin-top: 64px;
    justify-content: center;
  }
  &__video {
  }
  &__video img {
    width: 896px;
    height: 504px;
    display: block;
    height: auto;
    max-width: 100%;
  }
}
.landing::after {
  content: '';
  position: absolute;
  top: 0;
  // left: 0;
  transform: translate(-50%);
  width: 100%;
  height: 100%;
  height: 286px;
  background-image: url(https://open.cruip.com/static/media/illustration-section-01.ea694903.svg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: auto;

  // content: '';
  // position: absolute;
  // width: 100%;
  // max-width: 100%;
  // background-repeat: no-repeat;
  // background-size: auto;
  // left: 50%;
  // height: 286px;
  // background-image: url(https://open.cruip.com/static/media/illustration-section-01.ea694903.svg);
  // top: 0;
  // background-position: top;
  // transform: translate(-50%);
}
.title-big {
  font-weight: 800;
  margin-bottom: 16px;
  color: #eceded;
  font-size: 52px;
  line-height: 62px;
}
.span-bold {
  color: #5658dd;
}
.text {
}
