.navbar {
  z-index: 10;
  position: absolute;
  width: 100%;
  &__flex {
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }
  &__link {
    cursor: pointer;
    color: #9ca9b3;
    font-weight: 500;
    padding: 0 32px;
    transition: color 0.2s ease-out;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    &_logo {
    }
  }
  &__block-for-mob {
    display: flex;
  }
  &__link:hover {
    color: #eceded;
  }
  &__btn {
    min-width: 100px;
    min-height: 40px;
    color: #eceded;
    background-color: #6163ff;
    border-radius: 3px;
    margin-left: 32px;
  }
  &__btn a {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
  }
}
.navbar__btn-burger {
  display: none;
}
