@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 24px;
}

.container-small {
  padding: 0 24px;
  margin: 0 auto;
  max-width: 896px;
}

.container-smallest {
  max-width: 620px;
  margin: 0 auto;
}
