.build-up__block {
  padding-bottom: 80px;
}

.build-up__top {
  text-align: center;
}

.build-up__title {
  font-weight: 800;
  font-size: 44px;
  line-height: 54px;
  margin-bottom: 16px;
}

.build-up__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 640px) {
  .title-middle {
    font-size: 32px;
    line-height: 42px;
  }
  .build-up__block {
    padding-bottom: 48px;
  }
}
