.datadriven {
  padding: 40px 0;
}

.datadriven__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.datadriven__left_zero {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 528px;
          flex: 1 1 528px;
}

.datadriven__left_notzero {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  margin-right: 64px;
}

.datadriven__left_zero img {
  width: 100%;
}

.datadriven__right_zero {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  margin-left: 64px;
}

.datadriven__right_notzero {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 528px;
          flex: 1 1 528px;
}

.datadriven__right_notzero img {
  width: 100%;
}

.left__middle {
  font-size: 32px;
  line-height: 42px;
  letter-spacing: -0.3px;
  color: #eceded;
  font-weight: 700;
  margin-bottom: 12px;
}

.before-top {
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  margin-bottom: 8px;
  color: #5658dd;
}

.right__middle {
  font-size: 32px;
  line-height: 42px;
  letter-spacing: -0.3px;
  color: #eceded;
  font-weight: 700;
  margin-bottom: 12px;
}

@media (max-width: 640px) {
  .before-top {
    font-size: 14px;
    line-height: 22px;
  }
  .left__middle {
    font-size: 24px;
    line-height: 34px;
    letter-spacing: -0.1px;
  }
  .left__text {
    font-size: 1rem;
  }
  .right__middle {
    font-size: 24px;
    line-height: 34px;
    letter-spacing: -0.1px;
  }
  .right__text {
    font-size: 1rem;
  }
  .datadriven {
    padding: 24px 0;
    text-align: center;
  }
  .datadriven__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .datadriven__left_zero {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    margin: 0;
    margin-bottom: 32px;
  }
  .datadriven__left_notzero {
    margin: 0;
  }
  .datadriven__right_zero {
    margin: 0;
    margin-bottom: 32px;
  }
  .datadriven__right_notzero {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    margin-bottom: 32px;
  }
}
