.navbar {
  z-index: 10;
  position: absolute;
  width: 100%;
}

.navbar__flex {
  min-height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar__link {
  cursor: pointer;
  color: #9ca9b3;
  font-weight: 500;
  padding: 0 32px;
  -webkit-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.navbar__link:hover {
  color: #eceded;
}

.navbar__btn {
  min-width: 100px;
  min-height: 40px;
  color: #eceded;
  background-color: #6163ff;
  border-radius: 3px;
  margin-left: 32px;
}

.navbar__btn a {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}

.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 24px;
}
