.Robust {
  &__block {
    flex-basis: 317px;
    max-width: 317px;
    padding: 32px;
    text-align: center;
  }

  &__flex {
    display: flex;
    flex-direction: column;
  }

  &__top {
    margin-bottom: 16px;
  }
  &__top img {
    border-radius: 50%;
    background-color: #5658dd;
  }
  &__bottom {
  }

  &__title {
    margin-bottom: 8px;
  }

  &__text {
  }
}
